

#--- Archivos generados por compilación Java (PC) ---
*.class
*.jar
# Permitir el wrapper de Gradle
!gradle/wrapper/gradle-wrapper.jar
*.war
*.ear
*.sh

# --- Carpetas de construcción de Android ---
/build
/app/build
/.gradle
/build
/captures
.externalNativeBuild
.cxx

# --- Configuración de Android Studio (IDE) ---
.idea/
*.iml
local.properties

# --- Sistema operativo ---
.DS_Store
Thumbs.db

# --- TU CARPETA DE PRUEBAS ---
/app/src/main/assets/archivos/
/app/src/main/assets/Ejecutar_en_pc.txt

# --- El programa para hacer commits a github
gitAuto_2_0.sh

# --Listar archivos
listar_archivos.py
lista_de_archivos.txt
