# --- Archivos generados por compilación Java (PC) ---
*.class
*.jar
*.war
*.ear

# --- Carpetas de construcción de Android ---
/build
/app/build
/.gradle
/build
/captures
.externalNativeBuild
.cxx

# --- Configuración de Android Studio (IDE) ---
.idea/
*.iml
local.properties

# --- Sistema operativo ---
.DS_Store
Thumbs.db

# --- TU CARPETA DE PRUEBAS ---
/app/src/main/assets/archivos/